*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f4f9ff;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#0077b6;
}

.logo{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    background:linear-gradient(to right,#00b4d8,#0077b6);
}

.hero h1{
    font-size:55px;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

.hero button{
    padding:12px 25px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.hero button:hover{
    transform:scale(1.05);
}

.services{
    padding:80px 20px;
    text-align:center;
}

.services h2{
    margin-bottom:40px;
}

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

.card{
    width:280px;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.about,
.contact{
    text-align:center;
    padding:80px 20px;
}

.about{
    background:white;
}

.contact{
    background:#eaf6ff;
}

footer{
    background:#0077b6;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:15px;
    }

    .hero h1{
        font-size:35px;
    }

    .hero p{
        font-size:16px;
    }
}